<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.group1">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Campaign"></activity>
        <activity android:name=".EnterOtp" />
        <activity android:name=".Result" />
        <activity android:name=".helpcenter.HelpCenter" />
        <activity android:name=".VoteSuccess" />
        <activity android:name=".livecounting.LiveCounting"></activity>
        <activity android:name=".candidate4.Candidate4" />
        <activity android:name=".candidate3.Candidate3" />
        <activity android:name=".candidate2.Candidate2" />
        <activity android:name=".candidate1.Candidate1" />
        <activity android:name=".profile.Profile" />
        <activity android:name=".Candidate" />
        <activity android:name=".AadhaarVerified" />
        <activity android:name=".Aadhaar" />
        <activity android:name=".votecategory.VoteCategory" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Registration" />
        <activity android:name=".PhoneVerification" />
        <activity android:name=".Welcome" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>